<!doctype html>
<html>

<head>
    <title>Assessment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app" ng-controller="LoginCtrl">
    <div class="container" ng-show="!dashboard">
        <form role="form">
            <div class="row">
                <h3 class="text-center">To Do Manager</h3>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="loginDetails.username" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="loginDetails.password">
                </div>
                <button type="submit" class="btn btn-info form-control" ng-click="login(loginDetails)">Login</button>
            </div>
        </form>
    </div>
    <div class="dashboardContainer" ng-show="dashboard">
        <h1>To-Dos for the day <span class="pull-right"><a ng-click="dashboard=false" type="btn btn-primary">Logout</a></span></h1>
        
        <div ng-if="toDos">
            Total tasks for the day : {{toDos.length}}
        </div>
        <div class="header">
            <input type="text" placeholder="Title" ng-model="listDetails.title" ng-required="true">
            <button type="button" class="btn btn-primary" ng-click="addList()">Add</button>
        </div>

        <div ng-if="toDos">
            <div ng-repeat="list in toDos" class="well">
                <div id="listItem"><span class="pull-left">{{list}}</span> <span class="pull-right margin20"> <a ng-click="removeItem(item)">Remove</a></span></div>
            </div>
        </div>
    </div>

    </div>

</body>

</html>