body {
    min-height:100%;
    background-color: #fff;
}

.container {
    max-width: 300px;
    margin-top: 10px;
   
}
.dashboardContainer{
    max-width: 800px;
    margin-top: 20px;
    margin-left: 300px;
    text-align: center;


}
.header{
    display: inline-block;
    text-align: center;
    width:100%
}
.listData{
    height:100px;
    margin:20px;
    width:100%;
    background-color: grey;
}
#listItem{
    padding: 20px;
}
.margin20{
    margin-right: 20px;
}

